body {
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    background-color: lightgray;
}

h1, h2, h3, h4 {
    color: blue;
}

h1 {
    width: 100%;
    text-align: center;
}

.container {
    border: 2px solid white;
    border-radius: 5px;
    padding: 2em;
    margin-top: 2em;
    background-color: white;
}

.trainingContainer {
    float: left;
    padding: 1em;
    width: 100%;
}

select {
    padding: 4px;
    line-height: 1;
    border-radius: 0;
}

.about {
  text-align: center;
}
